<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form id="checkbox" method="POST" action="{% url 'home' %}">
        <h1>hello {{ username }}</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if qr_code %}
        <div>
            <h2>Your 2FA QR Code:</h2>
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code for 2FA">
        </div>
    {% endif %}
</body>
</html>