<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="wrapper">
        <form id="login-form" method="POST" action="{% url 'user_login' %}">
            {% csrf token %}
            <h1>Login</h1>

            {{ form.username.errors }}
            <div class="input-box">
                {{ form.username }}
            </div>
            
            {{ form.password.errors }}
            <div class="input-box">
                {{ form.password }}
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register">
                <a href="register.html">No account yet ?</a>
            </div>
        </form>
    </div>

    <!-- <div class="2fa-section">
        <form id="2fa-form" method="POST" action="{% url 'verify_otp' %}">
            {% csrf_token %}
            <label for="a2f-code">Code 2FA:</label>
            <input type="text" id="a2f-code" name="otp_token" required>
            <button type="submit">Confirm</button>
        </form>
    </div> -->

    <!-- <script src="{% static 'js/spa.js' %}"></script> -->

</body>
</html>