<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <div class="wrapper"></div>
        <form id="register-form" method="POST" action="{% url 'register' %}">
            {% csrf token %}
            <h1>Login</h1>

            <div class="input-box">
                <input type="username" name="username" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <button type="submit" class="btn">Register</button>

            <img src="{{ qr_code }}" alt="QR for 2FA">

        </form>
    </div>

</body>
</html>