<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <div class="wrapper"></div>
        <form id="register-form" method="POST" action="{% url 'register' %}">
            {% csrf token %}
            <h1>Login</h1>

            {{ form.username.errors }}
            <div class="input-box">
                {{ form.username }}
            </div>

            {{ form.password.errors }}
            <div class="input-box">
                {{ form.password }}
            </div>

            {{ form.email.errors }}
            <div class="input-box">
                {{ form.email }}
            </div>

            <button type="submit" class="btn">Register</button>

            <!-- <img src="{{ qr_code }}" alt="QR for 2FA"> -->

        </form>
    </div>

</body>
</html>