<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coing</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<!-- LOGIN -->

    <div id="modal">
        <div class="modal-content">
            <h2>Hello World</h2>
            <a href="/" class="modal-button">Button</a>
        </div>
    </div>

<!-- GAME -->
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <div id="controls">
        <button id="startButton">Démarrer</button>
        <button id="resetButton">Réinitialiser</button>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>
