<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit P0ng</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <script src="{% static 'main.js' %}" defer></script>
        <div class="main">
            <h2>Bienvenue, {{ user.username }}!</h2>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
            <button id="profil">profil</button>
        </div>
        <div class="test">
            <h1>test</h1>
            <img src="pictures.png" id="pp-id" style="max-width: 150px; max-height: 150px;">
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file">
            <script>

                let pp = document.getElementById("pp-id");
                let inputFile = document.getElementById("input-file");

                inputFile.onchange = function(){
                    pp.src = URL.createObjectURL(inputFile.files[0]);
                }

            </script>
            <button id="back">back</button>
        </div>
    {% else %}
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit" name="register">S'inscrire</button>
        </form>

        <h2>Connexion</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit" name="login">Se connecter</button>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</body>
</html>
