body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #f0f0f0; /* Couleur de fond plus claire */
}

/* LOGIN*/

#modal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    display: grid;
    row-gap: 5%;
    max-width: 70em;
    padding: 2em;
    box-sizing: border-box;
    background: #b13f3f;
}

/* GAME */

canvas {
    background-color: #e6aeae; /* Couleur de fond du canvas plus claire */
    border: 2px solid #ccc; /* Bordure du canvas */
    margin-top: 60px;
}

#controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 700px;
}

button:hover {
    background-color: #0056b3;
}
