body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #f0f0f0; /* Couleur de fond plus claire */
}

/* LOGIN*/

.main-content {
    padding: 20px;
}

/* Masquer la modale par défaut */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay */
}

/* Contenu de la modale centrée */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Bouton pour fermer la modale */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* GAME */

canvas {
    background-color: #e6aeae; /* Couleur de fond du canvas plus claire */
    border: 2px solid #ccc; /* Bordure du canvas */
    margin-top: 60px;
}

#controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 700px;
}

button:hover {
    background-color: #0056b3;
}
